<%- include('./partials/header.ejs') %>
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-sm-2">
            <%- include('./partials/sidebar.ejs', {page_name: 'Skill'}) %> 

        </div>
        <div class="col-sm-10">
            <!-- Main Content -->
            <h1>Skill Page</h1>
        </div>
    </div>

</div>


    



    <%- include('./partials/footer.ejs') %>