<%- include('./partials/header.ejs') %>
  <%- include('./partials/navbar.ejs') %>

    <div class="container">
      <div class="row mt-5">
        <h1>Home Page</h1>

        <hr>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa id ipsam impedit voluptates, dolore, sunt qui
          corrupti, rem consectetur sint vel est porro quibusdam illo aliquam itaque iusto sequi repudiandae.</p>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>